{% extends 'base.html' %}

{% block content %}
<div class="main">

    <div class="container">

      <div class="row">
      	
      	<div class="span8">      		
      		
      		<div class="widget stacked ">
      			
      			<div class="widget-header">
      				<i class="icon-user"></i>
      				<h3>Your Account</h3>
  				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					
					
					<div class="tabbable">
					<ul class="nav nav-tabs">
					  <li class="active">
					    <a href="#profile" data-toggle="tab">Profile</a>
					  </li>
					  <li><a href="#settings" data-toggle="tab">Endereço</a></li>
					</ul>
					
					<br>
					
						<div class="tab-content">
							<div class="tab-pane active" id="profile">
							<form id="edit-profile" class="form-horizontal" action="/user/change_password/" method="post">{% csrf_token %}
								<fieldset>
									
									<div class="control-group">
		                              <label class="control-label" for="id_username">Username:</label>
		                              <div class="controls">
		                                {{ volunteer_form.email }}
		                                <p class="help-block">Username não pode ser alterado.</p>
		                              </div>
		                            </div>
									
									<div class="control-group">
		                              <label class="control-label" for="id_first_name">Primeiro Nome:</label>
		                              <div class="controls">
		                                {{ volunteer_form.first_name }}
		                              </div>
		                            </div>
									
									<div class="control-group">
		                              <label class="control-label" for="id_last_name">Último Nome:</label>
		                              <div class="controls">
		                                {{ volunteer_form.last_name }}
		                              </div>
		                            </div>
									
									<div class="control-group">
		                              <label class="control-label" for="id_email">Email:</label>
		                              <div class="controls">
		                                {{ volunteer_form.email }}
		                              </div>
		                            </div>
									
									
									<br /><br />
									
									<div class="control-group">
		                              <label class="control-label" for="id_password">Senha:</label>
		                              <div class="controls">
		                                {{ volunteer_form.password }}
		                                <p class="help-block">Só preencha se quiser alterar a senha.</p>
		                              </div>
		                            </div>
									
									<div class="control-group">
		                              <label class="control-label" for="id_repeat_password">Repita Senha:</label>
		                              <div class="controls">
		                                {{ volunteer_form.repeat_password }}
		                              </div>
		                            </div>
										
										<br />
									
										
									<div class="form-actions">
										<button type="submit" class="btn btn-primary">Save</button> 
										<button class="btn">Cancel</button>
									</div> <!-- /form-actions -->
								</fieldset>
							</form>
							</div>
							
							<div class="tab-pane" id="settings">
								<form action="/address/register/" class="form-horizontal" method="post">{% csrf_token %}
			                        <fieldset>
			                        	
			                        	<div class="control-group">
			                              <label class="control-label" for="id_cep">CEP:</label>
			                              <div class="controls">
			                                {{ address_form.cep }}
			                              </div>
			                            </div>
			                        	
			                            <div class="control-group">
			                              <label class="control-label" for="id_logradouro">Endereço:</label>
			                              <div class="controls">
			                                {{ address_form.logradouro }}
			                              </div>
			                            </div>
			                            
			                            <div class="control-group">
			                              <label class="control-label" for="id_numero">Número:</label>
			                              <div class="controls">
			                                {{ address_form.numero }}
			                              </div>
			                            </div>
			                            
			                            <div class="control-group">
			                              <label class="control-label" for="id_complemento">Complemento:</label>
			                              <div class="controls">
			                                {{ address_form.complemento }}
			                              </div>
			                            </div>
			                            
			                            <div class="control-group">
			                              <label class="control-label" for="id_bairro">Bairro:</label>
			                              <div class="controls">
			                                {{ address_form.bairro }}
			                              </div>
			                            </div>
			                            
			                            <input type="hidden" value="{{ endereco.id }}" name="endereco_id" id="endereco_id"/>
			                            <input type="hidden" value="{{ usuario.id }}" name="usuario_id" id="usuario_id"/>
			                            
			                            <div class="form-actions">
											<button type="submit" class="btn btn-primary">Save</button> <button class="btn">Cancel</button>
										</div>
			                            
									</fieldset>
								</form>
							</div>
						</div>
					</div>
					
					
					
					
					
				</div> <!-- /widget-content -->
					
			</div> <!-- /widget -->
      		
	    </div> <!-- /span8 -->
      	
      	
      	<div class="span4">
			
			
			<div class="widget stacked widget-box">
				
				<div class="widget-header">
      				<h3>Extra Info</h3>
  				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
						
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					
					
					<p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
				</div> <!-- /widget-content -->
				
			</div> <!-- /widget-box -->
								
	      </div> <!-- /span4 -->
      	
      </div> <!-- /row -->

    </div> <!-- /container -->
    
</div> <!-- /main -->
    
{% endblock %}